@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

button {
  border: none;
  outline: none;
}

.react-tel-input .selected-flag {
  display: none !important;
}
.react-tel-input .flag-dropdown {
  border: none !important;
}
.react-tel-input input {
  height: 38px !important;
}
.react-tel-input .form-control {
  margin-top: 10px !important;
  padding-left: 0 !important;

}

.react-tel-input{
  position: relative;
  &:after{
    content: "";
    height: 100%;
    width: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    background: #a3ccfa;
    border-radius: 10px;
  }
}

.react-tel-input .error{
  background: #FF0000;
}


section {
  &.main {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fe9e40;
    min-height: 100vh;
    height: auto;
    .logo {
      width: 220px;

      img {
        width: 220px;
      }
    }

    h1 {
      font-size: 30px;
      margin-bottom: 50px;
      margin-top: 10px;
    }

    .tab {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0;

        li {
          background-color: #b9b9b9;
          color: #222;
          border-radius: 10px;
          padding: 10px 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          cursor: pointer;

          &.active {
            background-color: #3ef127;
          }
        }
      }
    }
    button.tokenREqBtn {
      width: fit-content;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background: #3ef127;
      font-weight: 600;
      cursor: pointer;
      margin-top: 0.5rem;
      font-size: 1rem;
    }
    .wrapper {
      width: 970px;
      max-height:max-content;
      height: fit-content;
      background: white;
      border-radius: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      border: 1px solid #ffcda5;

      .form-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        margin-bottom: 0.5rem;

        .form-control {
          width: 100%;
          display: flex;
          flex-direction: column;

          label {
            font-size: 1rem;
            color: #000;
            font-weight: 600;
          }

          input,
          textarea {
            border: 1px solid #cecece;
            padding: 0.5rem;
            border-radius: 10px;
            margin-top: 5px;
            outline: none;
            font-size: 1rem;
            background-color: #a3ccfa;
            box-shadow: 1px 2px 2px #e7e7e7;

            &:focus {
              outline: none;
            }
          }
          select {
            width: 100%;
            border: 1px solid #cecece;
            padding: 0.4rem;
            border-radius: 10px;
            margin-top: 5px;
            outline: none;
            font-size: 1rem;
            background-color: #a3ccfa;
            box-shadow: 1px 2px 2px #e7e7e7;
          }

          textarea {
            resize: none;
            height: 90px;
          }
          .error2{
            margin-top: 6px;
            color: #ffffff;
          }
          .error {
            margin-top: 6px;
            color: #FF0000;
          }
          input.error,textarea.error,select.error{
            border-color: #FF0000;
            background: #FFF2F2;
          }
        }
      }

      button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background: #3ef127;
        font-weight: 600;
        cursor: pointer;
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }
    .wrapper2{
      width: 970px;
      max-height:max-content;
      height: fit-content;
      background: white;
      border-radius: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      justify-content: center;
      align-items: center;
      border: 1px solid #ffcda5;
      gap: 20px;
      p{
        color: #B9B9B9;
        font-weight: 600;
        font-size: 1rem;
      }
      button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background: #3ef127;
        font-weight: 600;
        cursor: pointer;
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}

@media all and (max-width: 992px){
  section.main .wrapper{
    max-width: 96vw;
  }
}

@media all and (max-width: 767px){
  section.main .wrapper{
    padding: 1rem;
  }
  section.main .wrapper .form-wrap{
    flex-wrap: wrap;
  }
}

@media all and (max-width: 414px){
  section.main{
    padding-top: 20px;
  }
  section.main .logo {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.main .logo img {
    width: 130px;
  }
  section.main h1 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  section.main .tab ul li {
    padding: 5px 16px;
    font-size: 14px;
  }
  section.main .wrapper .form-wrap{
    gap: 5px;
  }
  section.main .wrapper .form-wrap .form-control .error, section.main .wrapper .form-wrap .form-control .error2{
    font-size: 12px;
    margin-top: 0;
  }
  section.main .wrapper .form-wrap .form-control label{
    font-size: 14px;
  }
  section.main .wrapper .form-wrap .form-control input, section.main .wrapper .form-wrap .form-control textarea, section.main .wrapper .form-wrap .form-control select{
    font-size: 14px;
  }
}
.tokenREqBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
.modelOverlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  .modelBox{
    width: 600px;
    height: 350px;
    background: #fff;
    border-radius: 5px;
    .head{
      height: 40px;
      width: 100%;
      position: relative;
      .closeIcon{
        position: absolute;
        top: 10px;
        right: 10px;
      }

    }
    .body{
      width: 100%;
      padding: 20px;
      h1{
        font-size: 15px;
        width: 100%;
        font-weight: normal;
        margin-bottom: 5px;
      }
      textarea{
        width: 100%;
        padding: 10px;
      }
    }
  }
}
.loaderScreen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.7);
  z-index: 1001;
  color: white;
  font-size: 20px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.circle-spinner:not(:required) {
  animation: spinner 800ms infinite linear;
  border: 2px solid white;
  border-right-color: transparent;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 40px 10px 40px;
}

.loader {
  display: none;
  width: 100%;
  height: 100%;
  background: blue;
  z-index: 300;

  .circle-spinner:not(:required) {
    border-color: #ffffff;
    border-right-color: transparent;
    width: 120px;
    height: 120px;
    border-width: 4px;
    margin: -60px 0 0 -60px;
  }

  svg {
    width: 54px;
    transform: translate(-50%, -50%);
  }
}
